.mat-card {
  height: 350px;
  width: 200px;
  padding: 0;
  background-color: slateblue;
}
.mat-card-title {
  align-content: center;
  height: 50px;
  font-size: medium;
  color: whitesmoke;
  text-align: center;
  display: grid;
}

.movie-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    pointer-events: none;
    width: 100%S;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}
